.grids {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.grid {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.grid-label {
  margin: 0;
  padding: 0.5em;
  text-align: center;
  width: 100%;
}

.grid-content {
  flex: 1;
  line-height: 0;
  position: relative;
}

.grid-cell {
  display: inline-block;
  height: 1%;
  width: 1%;
}
