.grids {
  display: flex;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.grid {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.grid-label {
  box-sizing: border-box;
  margin: 0;
  padding: 0.5em;
  text-align: center;
  width: 100%;
}

.grid-content {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
  overflow: hidden;
}

.grid-cell {
  display: block;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
